<%= render 'navigation' %>
    <div class="rightColumn">
      <div class="card blacks">

        <h1>Nueva impresión</h1>
        <%= render 'form' %>
        <br>
        <%= link_to 'Back', surveys_path %>
      </div>
    </div>
  </div>
</div>
