<%= render 'navigation' %>
    <div class="rightColumn">
      <div class="card blacks">
        <% if current_user == @survey.user %>
          <%= link_to 'Edit', edit_survey_path(@survey) %> |
        <%end%>
        <%= link_to 'Back', surveys_path %>
        <% if current_user.role == "admin" %>
          <h2>USER: <%= @survey.user.name %></h2>
        <%end%>
        <h1>Detalles de la Impresión</h1>
        
          <table class="tg">
            <tr>
              <th class="table-size-ad">Date</th>
              <th class="table-size-ad">Status</th>
            </tr>
          </table>
        
          

      
  </div>
</div>
