<%= render 'navigation' %>
      <div class="rightColumnAdmin">
        <div class="card blacks">
          <h1>Modulos</h1>
          
         
        	<%= link_to image_tag('print.png', alt: 'Mostrar detalle de prospecto'), archivos_listar_archivos_path %> 
<<<<<<< HEAD
        	<%= link_to image_tag('cash1.png', alt: 'Mostrar detalle de prospecto'), morrallas_agregar_saldo_path%> 
=======
        	<%= link_to image_tag('cash1.png', alt: 'Mostrar detalle de prospecto'), morrallas_new_path%> 
>>>>>>> solution

        </div>
        
    </div>
</div>
