<%= render 'navigation' %>
      <div class="rightColumnAdmin">
        <div class="card blacks">
          <h1>Agrega saldo a tu morralla</h1>
          
          Saldo disponible: <%= @morralla.user.email  %>
          $<%= @morralla.mount%>

          <h1><%= %></h1>

    </div>
</div>
