// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#contenido {
	background-color: white;
	width: 100%;
	height: 80%;
	/*position: absolute;*/
	right: 0px;
	overflow-y: scroll;
	/*padding-top: 20%;*/
	float: left;
}
table {
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
	margin-bottom: 5%;
	text-align: center;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
th {
	background-color: grey;
}
#buscador {
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 3%;
	text-align: center;	
}
/*.fields {
	width: 20px;
	text-align: left;
}*/
.btnFind {
	/*margin-left: 1%;*/
	float: right;
	margin-right: 3%;
}
